﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site2.css" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" />
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>  
    <style>
        .btn {
        margin: 15px;
        padding: 10px  20px ;
        margin: 10px;
   
       
        }
       
    </style>
</head>
<body class="bg-dark" style="color: white">
<header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3" style="position: fixed;width: 100%">
            <div class="container-fluid" >
                <a class="navbar-brand bg-white" asp-area="" asp-controller="Home" asp-action="Index">ANASAYFA</a>
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                   
                    <ul class="navbar-nav flex-grow-1">
                       
                       
                       
                            <li class="nav-itemm">
                              <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Giris">Müşteri Kayıt</a>
                          </li>
                          <li class="nav-itemm">
                              <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Cikis">Müşteri Çıkışı</a>
                          </li>
                        <li class="nav-item">
                            <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="Liste">Kayitli Müsteriler</a>
                        </li>
                         <li class="nav-item" >
                             <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="OdaListe">oda listesi</a></li>
                          <li class="nav-item">
                              <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                          </li>
                          
                    </ul>
                  
                
                                        <button onclick="karanlikMod()">
                                            <svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                <g class="style-scope yt-icon">
                                                    <path d="M280.485281,201.514719 L284,198 L287.514719,201.514719 L292.485281,201.514719 L292.485281,206.485281 L296,210 L292.485281,213.514719 L292.485281,218.485281 L287.514719,218.485281 L284,222 L280.485281,218.485281 L275.514719,218.485281 L275.514719,213.514719 L272,210 L275.514719,206.485281 L275.514719,201.514719 L280.485281,201.514719 Z M283.726536,215.86375 C287.116026,215.86375 289.86375,213.251451 289.86375,210.029016 C289.86375,206.806581 287.116026,204.194281 283.726536,204.194281 C283.073662,204.194281 282.164855,204.396254 281.000116,204.800201 C282.532112,206.378393 283.29811,208.121331 283.29811,210.029016 C283.29811,211.9367 282.444938,213.635948 280.738594,215.126758 C282.007413,215.618086 283.003393,215.86375 283.726536,215.86375 Z" transform="translate(-272, -198)"></path>
                                                </g>
                                            </svg>
                                            <span class="text" data-light="Açık mod" data-dark="Koyu mod"></span>
                                        
                                    </button>

                   
                  
                   
                    
                    <a href="/home/logout" class="btn btn-primary" style="background-color: red;color: white">
                              <i class='fa fa-sign-out blue-color'></i> Çıkış Yap
                            </a>    
                </div></div>
        
    </nav>
</header>
<div class="container" >
    <main role="main" class="pb-3">
        <br/><br/><br/><br/>
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - DefaultProje - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    

</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script>

</script>


</body>
</html>
