@{
    ViewData["Title"] = "Home Page";
    
}
    
<style >
            
            #kayitFormu{
                
                border-radius:10px;
                background: cornflowerblue;
                width:360px;
                margin:auto;
                margin-top:20px;
                padding:15px;
                text-align:center;
            }
            input
            {
                border-radius:5px;
                border:none;
                width:300px;
                height:50px;
                margin:20px 0px 20px 0px;
                background:rgba(240,240,240,.5);
                padding-left:15px;
                font-style:italic;
                
            }
            
            .btn1{
                background:green;
                color:white;
            }
            h3{
                color:#333;
                text-transform:uppercase;
                font-size:20px;
            }
            
        </style>
 
<br>
    <div id="kayitFormu" >
            <form action="" method="post">
                <h3><b>MÜSTERİ CIKIS</b></h3>
                <input type="tel" name="Tc" placeholder="kimlik no" required maxlength="11"  /> 
                
    
                <input class="btn1 btn-danger" type="submit" value="CİKİS YAP" />
            </form>
            
        
        <h2>@ViewBag.Mesaj</h2>
    </div>


