
@{
    ViewData["Title"] = "Home Page";
    
}

<style >
            
            #kayitFormu{
                
                border-radius:10px;
                background: cornflowerblue;
                width:360px;
                margin:auto;
                margin-top:20px;
                padding:15px;
                text-align:center;
            }
            
            .veri
            {
                border-radius:5px;
                border:none;
                width:300px;
                height:50px;
                margin:10px 0px 20px 0px;
                background:rgba(240,240,240,.5);
                padding-left:15px;
                font-style:italic;
                
            }
            
            .btn1{
                background:green;
                color:white;
            }
            h3{
                color:#333;
                text-transform:uppercase;
                font-size:20px;
            }
            
            .oda_no {
            position: fixed;
            visibility: hidden;
            
            }
            
        </style>
 
<br>
    <div id="kayitFormu" >
            <form action="" method="post">
                <h3><b>MÜSTERİ KAYIT FORMU</b></h3>
                <input type="text" name="Isim" placeholder="Isim" class="veri"  /> 
                 <input type="text" name="Soyisim" placeholder="soyisim"  class="veri" /> 
                <input type="tel" name="Tc" placeholder="kimlik no" required maxlength="11" class="veri" /> 
             
                        
                <input type="text"  name="TelNo" id="TelNo" placeholder="telefon numarasi"  class="veri"/>
               
                  
                    
                
                <b>Yatak Sayısı: </b><select id="yatak_sayisi" required >
               <option value="" selected disabled hidden>Choose here</option>
                    <option id="1yatak" onclick="degistir(0)">1</option>
                    <option id="2yatak" onclick="degistir(1)">2</option>
                    <option id="3yatak" onclick="degistir(2)">3</option>
                    <option id="4yatak" onclick="degistir(3)">4</option>
                </select>
                <br/><br/>
                 <b>Oda numarasi: </b>                                         
              
                   <select class="oda_no" name="odaNo" style="visibility: hidden" required="required">
                                     <option value="" selected disabled hidden>Choose here</option>
                                     @{
                                         foreach (var i in ViewBag._1kisilikOdalar)
                                         {
                                             <option id="oda_@i">@i</option>
                 
                                         }
                                     }
                                 </select >                                          
                <select style="visibility: hidden" class="oda_no" name="odaNo" required="required">
                                    <option value="9" selected disabled hidden>Choose here</option>
                                     @{
                                         foreach (var i in ViewBag._2kisilikOdalar)
                                         {
                                             <option id="oda_@i">@i</option>
                                         }
                                     }
                                 </select >                                          
                                 <select style="visibility: hidden" class="oda_no" name="odaNo" required="required"> 
                                     <option value="9" selected disabled hidden>Choose here</option>
                                     @{
                                         foreach (var i in ViewBag._3kisilikOdalar)
                                         {
                                             <option id="oda_@i">@i</option>
                                         }
                                     }
                                 </select>                                          
                                 <select style="visibility: hidden" class="oda_no" name="odaNo" required="required"> 
                                     <option value="9" selected disabled hidden>Choose here</option>
                                     @{
                                         foreach (var i in ViewBag._4kisilikOdalar)
                                         {
                                             <option id="oda_@i">@i</option>
                 
                                         }
                                     }
                                 </select> 
                                      
             
               
                <input class="btn1 veri" type="submit" value="KAYIT YAP" />
            </form>
            
        
        <h2>@ViewBag.Mesaj</h2>
    </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>               
<script>
document.getElementsByClassName("oda_no").item(0).setAttribute("disabled","disabled")
document.getElementsByClassName("oda_no").item(1).setAttribute("disabled","disabled")
document.getElementsByClassName("oda_no").item(2).setAttribute("disabled","disabled")
document.getElementsByClassName("oda_no").item(3).setAttribute("disabled","disabled")



 var url_string = window.location.href;
 var url = new URL(url_string);
 var odaNo = url.searchParams.get("oda_no");
 
 
 

 
 if (odaNo != null){
     console.log(1);
     var tmp = 2;
     var data = document.getElementsByClassName("oda_no");
     for(var i =0;i<4;i++) {
         for (var ii=1;ii<  data.item(i).getElementsByTagName("option").length; ii++) {
            if ("oda_" + odaNo == data.item(i).getElementsByTagName("option").item(ii).id) {
                   data.item(i).removeAttribute("disabled");
                  document.getElementById("yatak_sayisi").getElementsByTagName("option").item(i+1).selected = "selected";
                  degistir(i);
                   data.item(i).getElementsByTagName("option").item(ii).selected = "selected";
                
                 //  alert(1);
                
        

         
            }
            else {
                 document.getElementById("yatak_sayisi").getElementsByTagName("option").item(i+1).removeAttribute("selected");
               data.item(i).getElementsByTagName("option").item(ii).removeAttribute("selected");
             
            }
                
         
         }
           
           
         
     } 
}
// else {
     // document.getElementById("yatak_sayisi").getElementsByTagName("option").item(3).selected = "selected";
// }
   
 
 






$('#TelNo').inputmask("(599) 999-9999");
      
function degistir(sira) {
		var data = document.getElementsByClassName("oda_no");
             for (var i = 0; i<data.length;i++) {
    			if (i==sira) {
    				data.item(i).style.visibility ="visible";
                    data.item(i).removeAttribute("disabled");
          
              
    			}
    			else {
    				data.item(i).style.visibility = "hidden";
                    data.item(i).setAttribute("disabled","disabled");
    			}
    		 }

}

</script>


