﻿
@{
    ViewData["Title"] = "ANASAYFA";
 
}
<h1><div style="text-align: center">
    <b>bos oda sayisi: @ViewBag.bos_oda_sayisi</b><br/>
    <b>toplam oda sayisi: @ViewBag.toplam_oda_sayisi</b>
</div>
    </h1>




    <div class="inner">
  
</div>

@{
    <p>@ViewBag.deneme</p>
}