@model List<Musteri>
<table class="table table-dark">
    <thead>
    <tr>
        
        <th scope="col">TC</th>
        <th scope="col">İsim</th>
        <th scope="col">Soyisim</th>
        <th scope="col">telefon</th>
        <th scope="col">oda no</th>
    </tr>
    </thead>
 <tbody>

 @{
     foreach (var musteri in Model)
     {
        <tr>
            <td>@musteri.Tc</td>
            <td>@musteri.isim</td>
            <td>@musteri.soyisim</td>
            <td>@musteri.telNo</td>
            <td>@musteri.OdaNo</td>
            
            <td><button  class="btn btn-outline-danger" onclick="post('/Home/Cikis', {Tc: @musteri.Tc, url:1});" style="padding: 5px 20px ;margin: 1px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>SİL</button></td>
        </tr>
    }
}
 
  
    </tbody>
</table>

<script>
function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less verbose if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
 
  form.submit();
  }
  
 
</script>