<style>
    tr {
    height: 30px;
    }
</style>
<table class="table table-dark">
    <thead>
    <tr>
         <th scope="col">İd</th>
        <th scope="col">oda numarsi</th>
        <th scope="col">yatak sayisi</th>
        <th scope="col">oda durumu</th>
      
    </tr>
    </thead>
    <tbody>

    @{
     
        for(int i= 0;i<ViewBag.odalar.Count;i++)
        {
            <tr>
            
           
                <td>@ViewBag.odalar[i].Id</td>
                  <td>@ViewBag.odalar[i].odaNo</td>
                <td>@ViewBag.odalar[i].yatak_sayisi</td>
              
                  
                <td ><span style="background-color: @(ViewBag.odalar[i].aktif ? "red" : "green"); width: 400px;height: 10px; padding: 9px">@(ViewBag.odalar[i].aktif  ? "dolu" : "bos")</span></td>
                @{
                    if (ViewBag.odalar[i].aktif)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td><a class="btn"   href="/home/giris?oda_no=@ViewBag.odalar[i].odaNo" style="padding: 1px 20px ;margin: 1px; background-color: green">+ müşteri ekle</a></td>
                    }
                }
                
             </tr>
        }
    
                
             
        
    }
 
  
    </tbody>
</table>



<script>
function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less verbose if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
 
  form.submit();
  }
  
 
</script>