 @{
     Layout = null;
 }

 <style>
	 .a {
	 
	 position: fixed;
	 visibility: hidden;
	 	 }
	 
	 .b {
	
	 position: fixed;
	 visibility: hidden;
	 }
 </style>

 <div><button class="a">a</button><button class="b">b</button></div>

 
 <form action="" method="post">
	 <select name="isim" required="required">
		 <option value="" selected disabled hidden>Choose here</option>
		 <option value="1" selected>One</option>
		 <option value="2">Two</option>
		 <option value="3">Three</option>
		 <option value="4">Four</option>
		 <option value="5">Five</option>
	 </select>
	  <select name="isim" required="required" disabled>
             <option value="" selected disabled hidden>Choose here</option>
             <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
             <option value="4">Four</option>
             <option value="5">Five</option>
           </select>
      
	 <input type="submit"/> 
	 
 </form>

 
 
 
 <script>
 
 
 
 
 var url_string = window.location.href;
 var url = new URL(url_string);
 var c = url.searchParams.get("id");
 console.log(c);
 
 
 
 
 
 
 
 function degistir(sira) {
		var data = document.getElementsByTagName("button");
             for (var i = 0; i<data.length;i++) {
    			if (i+1==sira) {
    				data.item(i).id = "liste";
    			}
    			else {
    				data.item(i).id = "a";
    			}
    		 }
    	 
}

</script>

