

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

header {
    background-color: red;
    text-align: center;
    color: white;
}



/* Style the list inside the menu */
nav ul {
    list-style-type: none;

}




